<h2>My return books</h2>
<div
  *ngIf="message"
  class="alert"
  [class.alert-danger]="level === 'error'"
  [class.alert-success]="level === 'success'"
>
  {{ message }}
</div>
<div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">ISBN</th>
      <th scope="col">Rate</th>
      <th scope="col"><i class="cursor-pointer fas fa-cogs"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let book of returnedBooks.content; let index = index">
      <th scope="row">{{ index + 1 }}</th>
      <td>{{ book.bookTitle }}</td>
      <td>{{ book.bookAuthorName }}</td>
      <td>{{ book.bookIsbn }}</td>
      <td><i class="fas fa-star text-warning"></i>{{ book.bookAverageRating }}</td>

      <td>
        <div class="d-flex gap-2">
          <div class="d-flex gap-2">
            <i *ngIf="book.returned" class="fa-regular fa-paper-plane text-primary"></i>
            <i *ngIf="!book.returned" class="fa-solid fa-paper-plane text-success"></i>
            <i class="fa-solid fa-circle-check" (click)="approveBookReturn(book)" [class.text-success]="book.returnApproved" disabled></i>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item">
          <a (click)="goToFirstPage()"
             [class.disabled]="page == 0"
             aria-label="Previous"
             class="page-link"
             href="javascript:void(0)"
          >
            <i class="cursor-pointer fa-solid fa-angles-left"></i>
          </a>
        </li>
        <li class="page-item">
          <a (click)="goToPreviousPage()"
             [class.disabled]="page == 0"
             aria-label="Previous"
             class="page-link"
             href="javascript:void(0)"
          >
            <i class="cursor-pointer fa-solid fa-angle-left"></i>
          </a>
        </li>
        <li
          *ngFor="let _ of [].constructor(this.returnedBooks.totalPages); let pageIndex = index"
          class="page-item"
        >
          <a (click)="gotToPage(pageIndex)"
             [class.active]="pageIndex == page"
             aria-label="Previous"
             class="page-link"
             href="javascript:void(0)"
          >
            {{ pageIndex + 1 }}
          </a>
        </li>
        <li class="page-item">
          <a (click)="goToNextPage()"
             [class.disabled]="isLastPage"
             aria-label="Next"
             class="page-link"
             href="javascript:void(0)"
          >
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li class="page-item">
          <a (click)="goToLastPage()"
             [class.disabled]="isLastPage"
             aria-label="Previous"
             class="page-link"
             href="javascript:void(0)"
          >
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
